@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #3f1457;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Style de la pagina home */

.inputBuscar{
    background-color: white;
    border-radius: 50px;
}

.inputBuscar input{
    width: 90%;
    height: 35px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 130%;
}

#tituloPrincipal{
    font-size: 450%;
    color: white;
    font-family: 'Concert One', cursive;
}

.text-white{
    color: white;
}

.categoriaenhome{
    background-color: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.categoriaenhome img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 2%;
    border: 2px solid black !important;
}

.categoriaenhome p{
    font-size: 70%;
    width: 100%;
    text-align: center;
}

.conte_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.politicas{
    background-color: white !important;
    display: flex;
    justify-content: end;
    position: relative;
    top: 150px;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 230%;
    margin-bottom: 15%;
    margin-top: 5%;
}

.conte_row{
    width: 100%;
}

.logo img{
    width: 50%;
    margin-bottom: 15%;
}

.robot-saludo img{
    width: 50%;
    margin-top: 15%;
} 

.link-comenzar{
    background-color: #d4d4d4;
    border-radius: 20px;
    width: 50%;
    margin: auto;
}

.link-comenzar a{
    color: black;
    font-size: 150%;
}

@media screen and (max-width: 600px) {
    .conte_row {
        margin-top: 5%;
    }

    #tituloPrincipal{
        font-size: 300%;
    }

    #logprimary{
        width: 40%;
    }
} 

@media screen and (max-width: 991px) {
    #logprimary{
        width: 25%;
    }

    .registrate{
        position: absolute;
        left: -2px;
    }
}

/* Style de la pagina login */

.link_google{
    margin: auto;
    margin-bottom: 4%;
    border-radius: 20px;
    width: 90%;
    padding: 1.5%;
    background-color: white;
}

.link_google a{
    font-size: 140%;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.icon_google{
    width: 8%;
}

.link_facebook{
    margin: auto;
    border-radius: 20px;
    width: 90%;
    padding: 2%;
    background-color: rgb(0, 5, 151);

}

.link_facebook a{
    font-size: 130%;
    color: white;
    text-decoration: none;
}

.icon_home a img{
    width: 18%;
    margin-top: 3%;
}

.icon_home  a img:hover{
    cursor: pointer;
}

.input_registro input{
    border-radius: 20px;
    width: 90%;
    margin: auto;
    /* padding: 2%; */
}

/* stile de la pagina tipo de registro */

.text_title{
    font-size: 160%;
}

/* stile de la pagina registrovendedor */

.logo_vendedor img{
    width: 80px;
}

.text_vendedor{
    font-size: 200%;
}

.select_si_no{
    border-radius: 50px !important;
}

.input_vendedor input{
    border-radius: 50px !important;
}

@media screen and (min-width: 600px) {
    .row_logo_title{
        margin-top: 3%;
    }
}
/* row_logo_title */

@media screen and (max-width: 600px){
   .logo_vendedor img{
    width: 60px;
   } 

   .text_vendedor{
    margin-top:2%;
   }
}

/* Style de la pagina perfil vendedor */
.btn_menu {
    position: relative;
}

.btn_menu svg{
    color: #b2a4ff;
    border: 2px solid #b2a4ff;
}

.logouser{
    position: relative;
    left: 65%;
}

.logouser{
    color: #b2a4ff;
}

.portada{
    width: 100%;
    height:250px;
}

.portada img{
    max-width: 100%;
    max-height: 100%;
}

.perfil{
    width: 150px;
    height: 150px;
    position: relative;
    left: 35%;
    top: -80px; 
}

.perfil img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid rgb(219, 219, 219);
}

.textcenternone{
    text-align: left;
    margin-top: 5% !important;
}

.textcenternone span{
    background-color: #ababab;
    width: 15%;
    padding: 1% 2%;
    border-radius: 50px;
}

.fotosdeproducto img{
    width: 100%;
    height: 13vb;
    border-radius: 50%;
}

.numstar{
    text-align: left;
    margin-left: 2%;
}

.starfill{
    color: rgb(182, 182, 3);
}

.aviso{
    margin-top: 3%;
    background-color: #ababab;
    border-radius: 30px;
}

.altavos svg{
    position: relative;
    top: 17%;
}

.gps svg{
    background-color: #ababab;
    padding: 10%;
    border-radius: 100px;
    position: relative;
    left: -25%;
}

.gps svg:hover{
    cursor: pointer;
}

.sms svg{
    background-color: #ababab;
    padding: 10%;
    border-radius: 100px;
    position: relative;
    left: 50%;
}

.sms svg:hover{
    cursor: pointer;
}

.icon_regresar img{
    width: 40%;
    position: relative;
    left: 10%;
}

.logoenperfilvendedor img{
    width: 55px;
    height: 50px;
}

.conteinfoperfil{
    position: relative;
    top: -5%
}

.bgconten{
    background-color: #594f9594;
}

@media screen and (max-width: 600px) {
    .portada{
        width: 100%;
        height:250px;
    }

    .portada img{
        max-width: 100%;
        min-height: 100%;
    }

    .perfil{
        width: 180px;
        height: 180px;
        position: relative;
        left: 29%;
        top: -10%; 
    }

    .perfil img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        border: 10px solid rgb(219, 219, 219);
    }

    .fotosdeproducto img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .bgconten{
        background-color: #3f1457;
    }
}

@media screen and (min-width: 601px) {
    .topconten{
        margin-top: 3%;
    }    
}


/*Estilos de la pagina Buscar*/
.tamaño{
    width: 7rem;
    margin-bottom: 5%;
    }
.presentacion {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 40px;  
}

.contenido {
    border-radius: 30px;
    width: 100%;
    margin: auto;
    margin-bottom: 2%;
}

.tamaño_logo {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    padding: 2%;
}

.informacion {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.informacion span {
    margin-bottom: 3px;
}

.centrarfoto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* style de la pagina editar datos */
.logoedit img{
    width: 30%;
}
